/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bg-color: #000028;
    --bg-image: url('../images/cover-image-dark.png');
    --title-color: #d900fd;
    --title-shadow: #ff0070;
    --text-secondary: #ff0070;
    --text-primary: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --decor-color: #ff0070;
    --button-hover: rgba(255, 0, 112, 0.4);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
    background-color: var(--bg-color);
}
