/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bg-color: #fff1f7;
    --bg-image: url('../images/cover-image-light.png');
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --button-hover: rgba(53, 52, 48, 0.4);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
    background-color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff1f7;
        --bg-image: url('../images/cover-image-light.png');
        --text-color: #353430;
        --accent-color: #ff8dcb;
        --decor-color: #353430;
        --button-hover: rgba(53, 52, 48, 0.4);
    }
}