/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
        background-color: var(--bg-color);
        background-image: var(--bg-image);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        font-family: var(--main-font);
        color: var(--text-color);
}

.header {
    min-block-size: 100vh;
    padding: 20px;
    display: grid;
    align-content: start;
}

.header__theme-menu {
    justify-self: end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.header__theme-menu-button {
    background: transparent;
    border: 1px solid transparent;
    padding: 4px 13px;
    color: var(--accent-color);
    text-transform: lowercase;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    border-color: var(--button-hover);
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
    border-color: var(--accent-color);
    pointer-events: none;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border: 1px solid var(--decor-color);
}

.decorated-zone::before {
    inset-inline-end: 0;
    inset-block-start: 0;
    border-inline-start: none;
    border-block-end: none;
}

.decorated-zone::after {
    inset-inline-start: 0;
    inset-block-end: 0;
    border-inline-end: none;
    border-block-start: none;
}

.rec {
    position: absolute;
    inset-inline-end: 20px;
    inset-block-start: 20px;
    color: var(--accent-color);
    font-size: 18px;
}

.rec::after {
    content: "";
    display: inline-block;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    margin-inline-start: 8px;
    box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.83;
    color: #d900fd;
    text-shadow: 4px 4px 0 var(--decor-color);
    margin-block-start: 60px;
}

.header__description {
    max-inline-size: 355px;
    font-weight: 700;
    margin-block-start: 55px;
}

.title-decor {
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding: 2px 6px;
}

.content {
    padding: 40px 20px;
    display: grid;
    gap: 50px;
}

.section {
    display: grid;
    gap: 20px;
}

.section__title {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 700;
}

.section__content {
    display: grid;
    gap: 20px;
}

.section__subtitle {
    font-size: 18px;
    font-weight: 700;
}

.section__tip {
    font-size: 18px;
    font-weight: 400;
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding: 2px 6px;
}

.section p {
    line-height: 1.3;
}

.gallery {
    display: grid;
    gap: 10px;
}

.gallery__grid {
    display: grid;
    gap: 10px;
}

.gallery img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.footer {
    min-block-size: 100vh;
    display: grid;
    place-items: center;
    padding: 20px;
}

.footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.83;
    color: #d900fd;
    text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 1024px) {
    .header__theme-menu {
        justify-self: center;
    }
    .header__theme-menu-list {
        flex-direction: row;
        align-items: center;
    }
}

@media (width >= 768px) {

    .header {
        padding: 20px 40px;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__description {
        justify-self: end;
        max-inline-size: 364px;
    }

    .content {
        padding: 60px 40px;
        gap: 80px;
    }

    .section {
        grid-template-columns: 1fr 2fr;
    }

    .section__content {
        grid-column: 2;
    }

    .gallery__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
    }

    .gallery__grid img:nth-child(1) {
        grid-column: span 2;
    }

    .gallery__grid img:nth-child(2) {
        grid-row: span 2;
    }

    .gallery__grid img:nth-child(3) {
        grid-row: span 2;
    }

    .gallery__grid img:nth-child(5) {
        grid-column: span 2;
    }
}